Repository github-workflowtest-org/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @jdunkerley, @jaroslavtulach, @farmaazon, @AdRiley, @PabloBuchu, @wdanilo, @vitvakatu, @Frizi, @kazcw, @Akirathan, @4e6, @hubertp, @radeusgd, @GregoryTravis, @indiv0, @somebody1234, @MrFlashAccount

javafmt, add pass
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/BuiltinTypes.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypeInferencePropagation.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/TypeHierarchy.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/TypeScopeReference.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/StaticAnalysisTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

fix error locations, less logs
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypePropagation.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/StaticAnalysisTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

remove some prints
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypePropagation.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

type hierarchy, reporting no such method
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/BuiltinTypes.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/MethodTypeResolver.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypeInferencePropagation.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypePropagation.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypeRepresentation.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/TypeHierarchy.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/TypeScopeReference.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Warning.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

member method call through static syntax
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

change order of compiler passes to have needed data available
  engine/common/src/main/java/org/enso/common/CompilationStage.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/ModuleResolver.java
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime-compiler/src/main/scala/org/enso/compiler/Passes.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

remove debug print
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/ModuleResolver.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

adjust missing builtin
  distribution/lib/Standard/Base/0.0.0-dev/src/Data/Ordering.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

fix static call syntax of member methods by correctly infrring their types at the type signature level
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypeInferenceSignatures.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypePropagation.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

add test for future
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

resolving Self type to the actual type
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypeResolver.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Make time type work
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  std-bits/database/src/main/java/org/enso/database/JDBCUtils.java
  std-bits/microsoft/src/main/java/org/enso/microsoft/SQLServerConnectionDetailsSPI.java
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Add date type
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

fix test - metadata is now only attached to bindings
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add datetime type
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

nit
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add smalldatetime type
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Add datetime2 type
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

add test for fields access
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

WIP test for inter-module definitions
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Add datetimeoffset type
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

WIP: debugging calling methods from different module
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/StaticModuleScopeAnalysis.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/StaticAnalysisTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Update value
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Add binary types
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Refactor
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

adjust warning message
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Warning.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

adjust warning message, and other stuff
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypeInferencePropagation.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/TypePropagation.java
  engine/runtime-compiler/src/main/java/org/enso/compiler/pass/analyse/types/scope/StaticModuleScopeAnalysis.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/StaticAnalysisTest.java
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/TypeInferenceTest.java
  engine/runtime-parser/src/main/scala/org/enso/compiler/core/ir/Warning.scala
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

checkpoint
  engine/runtime-integration-tests/src/test/java/org/enso/compiler/StaticAnalysisTest.java
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Fix errors
  app/ide-desktop/lib/dashboard/src/layouts/TabBar.tsx
  app/ide-desktop/lib/dashboard/src/pages/dashboard/Dashboard.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

add function to format text
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

toolbar buttons
  app/gui2/src/components/TextFormattingSelector.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

only multiple spaces rendered as dots in special mode
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

getRowHeight calculated
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

add monospace font on text cells
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

simplify format text function
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

sort double returns
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

simplify format text function, reduce duplicated code
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

add function for other whitespace
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

Initial Simple_Expr work.
  distribution/lib/Standard/Base/0.0.0-dev/src/Widget_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Internal/Widget_Helpers.enso
  distribution/lib/Standard/Table/0.0.0-dev/src/Simple_Expression.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

DDL check
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# The repository settings
/.github/ @mwu-tow
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @vitvakatu @Frizi @kazcw @farmaazon @mwu-tow
rustfmt.toml @mwu-tow @farmaazon @vitvakatu @Frizi @kazcw 
Cargo.lock
Cargo.toml
/lib/rust/ @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi
/lib/rust/parser/ @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi @jaroslavtulach
/integration-test/ @farmaazon @kazcw @vitvakatu @Frizi
/tools/build-performance/ @kazcw @mwu-tow @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @farmaazon @mwu-tow @kazcw @vitvakatu @Frizi
/app/gui/view/ @farmaazon @kazcw @vitvakatu @Frizi
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @farmaazon @kazcw @jdunkerley @vitvakatu @Frizi
/app/gui2/ @Frizi @farmaazon @vitvakatu @kazcw

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis @AdRiley
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/tools/ @4e6 @jaroslavtulach @radeusgd @hubertp

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/std-bits/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/test/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/tools/http-test-helper/ @radeusgd @jdunkerley @GregoryTravis @AdRiley

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount
# The data-link schema is owned by the libraries team
/app/ide-desktop/lib/dashboard/src/data/dataLinkSchema.json @radeusgd @jdunkerley @GregoryTravis @AdRiley
/app/ide-desktop/lib/dashboard/src/data/__tests__ @radeusgd @jdunkerley @GregoryTravis @AdRiley @PabloBuchu @indiv0 @somebody1234
