Repository github-workflowtest-org/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @jdunkerley, @jaroslavtulach, @farmaazon, @AdRiley, @PabloBuchu, @wdanilo, @vitvakatu, @Frizi, @kazcw, @Akirathan, @4e6, @hubertp, @radeusgd, @GregoryTravis, @indiv0, @somebody1234, @MrFlashAccount

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# The repository settings
/.github/ @mwu-tow
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @vitvakatu @Frizi @kazcw @farmaazon @mwu-tow
rustfmt.toml @mwu-tow @farmaazon @vitvakatu @Frizi @kazcw 
Cargo.lock
Cargo.toml
/lib/rust/ @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi
/lib/rust/parser/ @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi @jaroslavtulach
/integration-test/ @farmaazon @kazcw @vitvakatu @Frizi
/tools/build-performance/ @kazcw @mwu-tow @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @farmaazon @mwu-tow @kazcw @vitvakatu @Frizi
/app/gui/view/ @farmaazon @kazcw @vitvakatu @Frizi
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @farmaazon @kazcw @jdunkerley @vitvakatu @Frizi
/app/gui2/ @Frizi @farmaazon @vitvakatu @kazcw

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis @AdRiley
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/tools/ @4e6 @jaroslavtulach @radeusgd @hubertp

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/std-bits/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/test/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/tools/http-test-helper/ @radeusgd @jdunkerley @GregoryTravis @AdRiley

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount
# The data-link schema is owned by the libraries team
/app/ide-desktop/lib/dashboard/src/data/dataLinkSchema.json @radeusgd @jdunkerley @GregoryTravis @AdRiley
/app/ide-desktop/lib/dashboard/src/data/__tests__ @radeusgd @jdunkerley @GregoryTravis @AdRiley @PabloBuchu @indiv0 @somebody1234

make `should_contain_the_same_elements_as` more robust - check counts as well
  distribution/lib/Standard/Test/0.0.0-dev/src/Extensions.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

tmp workaround
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

names, ordering
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

cleanup a test even on failure
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

workaround 2
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Upload_Table.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

forgot about making a table temporary
  test/Snowflake_Tests/src/Snowflake_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

use common connection where possible
  test/Table_Tests/src/Database/Upload_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

fix should_contain_the_same_elements_as
  distribution/lib/Standard/Test/0.0.0-dev/src/Extensions.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

fixing tests
  distribution/lib/Standard/Database/0.0.0-dev/src/DB_Column.enso
  test/Table_Tests/src/Common_Table_Operations/Column_Operations_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

use icons as buttons
  app/gui2/src/components/TextFormattingSelector.vue
  app/gui2/src/components/visualizations/TableVisualization.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

added tooltip message
  app/gui2/src/components/TextFormattingSelector.vue
Owners: @Frizi, @farmaazon, @vitvakatu, @kazcw

Update README.md
  README.md
Owners: none
