Repository github-workflowtest-org/enso, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mwu-tow, @jdunkerley, @jaroslavtulach, @farmaazon, @AdRiley, @PabloBuchu, @wdanilo, @vitvakatu, @Frizi, @kazcw, @Akirathan, @4e6, @hubertp, @radeusgd, @GregoryTravis, @indiv0, @somebody1234, @MrFlashAccount

.github/CODEOWNERS:

# Change log
CHANGELOG.md

# The repository settings
/.github/ @mwu-tow
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @mwu-tow
/run.bat @mwu-tow
/build @mwu-tow

# Rust Libraries and Related Files
rust-toolchain.toml @vitvakatu @Frizi @kazcw @farmaazon @mwu-tow
rustfmt.toml @mwu-tow @farmaazon @vitvakatu @Frizi @kazcw 
Cargo.lock
Cargo.toml
/lib/rust/ @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi
/lib/rust/parser/ @mwu-tow @farmaazon @kazcw @vitvakatu @Frizi @jaroslavtulach
/integration-test/ @farmaazon @kazcw @vitvakatu @Frizi
/tools/build-performance/ @kazcw @mwu-tow @Akirathan

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp

# GUI
/app/gui/ @farmaazon @mwu-tow @kazcw @vitvakatu @Frizi
/app/gui/view/ @farmaazon @kazcw @vitvakatu @Frizi
/app/gui/view/graph-editor/src/builtin/visualization/java_script/ @farmaazon @kazcw @jdunkerley @vitvakatu @Frizi
/app/gui2/ @Frizi @farmaazon @vitvakatu @kazcw

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @radeusgd @GregoryTravis @AdRiley
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp
/tools/ @4e6 @jaroslavtulach @radeusgd @hubertp

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/std-bits/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/test/ @jdunkerley @radeusgd @GregoryTravis @AdRiley
/tools/http-test-helper/ @radeusgd @jdunkerley @GregoryTravis @AdRiley

# Dashboard, Cloud & Authentication
/app/ide-desktop/ @PabloBuchu @indiv0 @somebody1234 @MrFlashAccount
# The data-link schema is owned by the libraries team
/app/ide-desktop/lib/dashboard/src/data/dataLinkSchema.json @radeusgd @jdunkerley @GregoryTravis @AdRiley
/app/ide-desktop/lib/dashboard/src/data/__tests__ @radeusgd @jdunkerley @GregoryTravis @AdRiley @PabloBuchu @indiv0 @somebody1234

Fix React warnings
  app/ide-desktop/lib/dashboard/src/components/Link.tsx
  app/ide-desktop/lib/dashboard/src/layouts/TabBar.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

Fix React warning in ToS modal
  app/ide-desktop/lib/dashboard/src/modals/TermsOfServiceModal.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

Add note about ToS RAC warning
  app/ide-desktop/lib/dashboard/src/modals/TermsOfServiceModal.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

WIP: Switch tabs to `aria.Tabs`
  app/ide-desktop/lib/dashboard/src/components/AriaComponents/Button/Button.tsx
  app/ide-desktop/lib/dashboard/src/layouts/TabBar.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

try fix tab selection
  app/ide-desktop/lib/dashboard/src/layouts/TabBar.tsx
  app/ide-desktop/lib/dashboard/src/pages/dashboard/Dashboard.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

fixes after rebase
  app/ide-desktop/lib/common/src/services/Backend.ts
  app/ide-desktop/lib/dashboard/src/services/RemoteBackend.ts
  app/ide-desktop/lib/dashboard/src/services/remoteBackendPaths.ts
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

Add getCustomerPortalSession endpoint
  app/ide-desktop/lib/common/src/text/english.json
  app/ide-desktop/lib/dashboard/src/components/AriaComponents/Button/Button.tsx
  app/ide-desktop/lib/dashboard/src/components/styled/SidebarTabButton.tsx
  app/ide-desktop/lib/dashboard/src/layouts/Settings.tsx
  app/ide-desktop/lib/dashboard/src/layouts/Settings/settingsData.tsx
  app/ide-desktop/lib/dashboard/src/layouts/SettingsSidebar.tsx
  app/ide-desktop/lib/dashboard/src/providers/BackendProvider.tsx
  app/ide-desktop/lib/dashboard/src/services/LocalBackend.ts
  app/ide-desktop/lib/dashboard/src/services/RemoteBackend.ts
  app/ide-desktop/lib/dashboard/src/services/remoteBackendPaths.ts
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

Introduce billing page tab in settings
  app/ide-desktop/lib/assets/credit_card.svg
  app/ide-desktop/lib/common/src/text/english.json
  app/ide-desktop/lib/dashboard/src/components/AriaComponents/Button/Button.tsx
  app/ide-desktop/lib/dashboard/src/components/AriaComponents/CopyBlock/CopyBlock.tsx
  app/ide-desktop/lib/dashboard/src/components/Result.tsx
  app/ide-desktop/lib/dashboard/src/components/styled/SidebarTabButton.tsx
  app/ide-desktop/lib/dashboard/src/layouts/AssetProjectSession.tsx
  app/ide-desktop/lib/dashboard/src/layouts/AssetProjectSessions.tsx
  app/ide-desktop/lib/dashboard/src/layouts/Settings/SettingsTabType.ts
  app/ide-desktop/lib/dashboard/src/layouts/Settings/settingsData.tsx
  app/ide-desktop/lib/dashboard/src/layouts/SettingsSidebar.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

fix data undefined
  app/ide-desktop/lib/dashboard/src/layouts/Settings/settingsData.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

error fix
  app/ide-desktop/lib/dashboard/src/layouts/Settings/settingsData.tsx
Owners: @PabloBuchu, @indiv0, @somebody1234, @MrFlashAccount

Fix
  build.sbt
  distribution/lib/Standard/Microsoft/0.0.0-dev/package.yaml
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan, @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Update Editions.scala
  project/Editions.scala
Owners: @4e6, @jaroslavtulach, @hubertp

Add folder and yaml
  distribution/lib/Standard/Microsoft/package.yaml
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

fix
  build.sbt
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

Update build.sbt
  build.sbt
Owners: @4e6, @jaroslavtulach, @hubertp, @Akirathan

fix
  project/Editions.scala
Owners: @4e6, @jaroslavtulach, @hubertp

stash
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Connection.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/SQLServer_Details.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Add SPI
  std-bits/microsoft/src/main/java/org/enso/microsoft/SQLServerConnectionDetailsSPI.java
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Stash
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Connection.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Main.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/SQLServer_Details.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Failing test
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Add test files
  test/Microsoft_Tests/README.md
  test/Microsoft_Tests/package.yaml
  test/Microsoft_Tests/src/Main.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Connecting to SQLServer but with bad SQL
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Green
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Greenish
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Green
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Passing tests
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Refactor
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Green
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Snowflake/0.0.0-dev/src/Internal/Snowflake_Dialect.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Closer to green
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/SQLite/SQLite_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  distribution/lib/Standard/Snowflake/0.0.0-dev/src/Internal/Snowflake_Dialect.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Green
  distribution/lib/Standard/AWS/0.0.0-dev/src/Database/Redshift/Internal/Redshift_Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Dialect.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Postgres/Postgres_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Snowflake/0.0.0-dev/src/Internal/Snowflake_Dialect.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Cleanup
  distribution/lib/Standard/Database/0.0.0-dev/src/Connection/Connection.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Byte
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Remove for now
  distribution/lib/Standard/Database/0.0.0-dev/src/Internal/Base_Generator.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Refactor
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Auto-commit work in progress before clean build on 2024-07-11 14:22:57
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Floating point types
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

char types improvements
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Integer types
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

fix after rebase
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley

Fixes after merge
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Dialect.enso
  distribution/lib/Standard/Microsoft/0.0.0-dev/src/Internal/SQLServer_Type_Mapping.enso
  test/Microsoft_Tests/src/SQLServer_Spec.enso
Owners: @jdunkerley, @radeusgd, @GregoryTravis, @AdRiley
